<%- model_class = Machine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped" id="machines">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:make) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= best_in_place machine, :year %></td>
        <td><%= best_in_place machine, :make %></td>
        <td><%= best_in_place machine, :model %></td>
        <td><%= best_in_place machine, :details %></td>
        <td>$<%= machine.cost %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      machine_path(machine), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_machine_path(current_user),
            :class => 'btn btn-primary' %>
